---
import { navigation } from '../../data/navigation';
import Button from '../common/Button.astro';
---

<nav id="nav" aria-label="Principal">
  <ul>
    {navigation.map((item) => (
      <li class={item.class ?? ''}>
        {item.button ? (
          <Button 
            href={item.href ?? '#'} 
            label={item.label} 
            variant={item.button.variant} 
          />
        ) : (
          <a href={item.href ?? '#'}>
            {item.label}
          </a>
        )}

        {item.layouts && (
          <ul>
            {item.layouts.map((layout) => (
              <li>
                {layout.href ? (
                  <a href={layout.href}>{layout.label}</a>
                ) : (
                  <a href="#">{layout.label}</a>
                )}

                {layout.submenu && (
                  <ul>
                    {layout.submenu.map((submenuItem) => (
                      <li>
                        <a href={submenuItem.href}>
                          {submenuItem.label}
                        </a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))}
          </ul>
        )}
      </li>

      
    ))}
  </ul>
</nav>