---
import Button from '../common/Button.astro';
import Icon from '../common/Icon.astro';
import { homePage } from '../../data/home';

const section = homePage.sections.one;
---

<section class="wrapper style2 container special-alt">
	<div class="row gtr-50">
		<div class="col-8 col-12-narrower">
			<header>
				<h2 set:html={section.title} />
			</header>
			<p>{section.description}</p>
			<footer>
				<ul class="buttons">
					<li>
						<Button href={section.cta.href} label={section.cta.label} />
					</li>
				</ul>
			</footer>
		</div>
		<div class="col-4 col-12-narrower imp-narrower">
			<ul class="featured-icons">
				{section.icons.map((icon) => (
					<li>
						<Icon name={icon.name} label={icon.label} />
					</li>
				))}
			</ul>
		</div>
	</div>
</section>
